body {
  background-color: #e3f09b;
}
html {
  scroll-behavior: smooth;
}
h1 {
  text-align: center;
  font-family: "Cantata One", serif;
}
h1:hover {
  color: #f79f79;
}
#title:hover {
  color: #9bbdf9;
}
h5 {
  font-family: "Cantata One", serif;
  color: #f79f79;
  background-color: ;
}
p {
  font-family: "Rasa", serif;
  font-size: 22px;
}
#aboutimg {
  height: 400px;
}

.highlight:hover {
  color: #e3f09b;
}
.galleryimg {
  height: 400px;
}
a:hover {
  color: #9bbdf9;
}
.overlay-container {
  position: relative;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #f7d08a;
}
.album-image {
  display: block;
  width: 100%;
  height: auto;
}
.overlay-container:hover .overlay {
  opacity: 1;
}
#al3:hover .overlay {
  opacity: 1;
}

.text {
  color: black;
  font-size: 25px;
  font-family: "Rasa", serif;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.video {
  justify-content: center;
  margin: auto;
  text-align: center;
}
